<header class="foodtrackerheader">
    <div class="foodTrackerTitle"> MicroLens | </div>
    <div class="backToDashboard">
      <a ng-click="$ctrl.getDashboard($event)" class="btn btn-success" > Back to Dashboard </a>
    </div>


    <div class="clientName">
        <img src="https://maxcdn.icons8.com/Share/icon/Cinema//avatar1600.png" alt="avatar" width=30>
    </div>

</header>



<div class="row" id="food-tracker-shell">

    <div class="col-lg-3" id="user-details">
        <div class="img-container">
            <img id="avatar" src="https://maxcdn.icons8.com/Share/icon/Cinema//avatar1600.png" alt="avatar" width=100>
            <div class="person-details">
                <h4 class="person-name">{{$ctrl.firstName}}&nbsp;{{$ctrl.lastName}}</h4>
                <p><strong>Height: </strong> 6'1"</p>
                <p><strong>Weight: </strong> 170lbs</p>
                <p><strong>Age: </strong> 29</p>
            </div>
        </div>
    </div>

    <div class="col-lg-8" id="search-area">
        <div class="centerize">
            <h1 class="foodTrackTitle">Add Food</h1>

            <input type="submit" ng-click="$ctrl.showForm($event)" class="btn btn-success" value="Manual Entry">

            <input type="submit" ng-click="$ctrl.uploadFoodImage($event)" class="btn btn-success" value="Upload Image">


            <!-- <a href="#" ng-click="$ctrl.showForm($event)">Manual Entry</a>
            <a href="#" ng-click="$ctrl.uploadFoodImage($event)">Upload Image</a> -->

            <div ng-show="$ctrl.showImageUploadForm">

                <input ng-model="$ctrl.imgFile" ng-click='$ctrl.chooseFile()' filelist-bind name="imgFile" type="file" id="the-photo-file-field">
                <div ng-show="$ctrl.imgAvailable" id="preview">
                    <!--image will be inserted here-->
                    <img ng-src="{{ $ctrl.the_url }}" width='500' />
                </div>
                <div id="data" class="large-8 columns">
                    <h2 ng-show="$ctrl.imgAvailable" id="name">{{$ctrl.img.name}}</h2>
                    <p ng-show="$ctrl.imgAvailable" id="size">{{$ctrl.img.size}}</p>
                    <p ng-show="$ctrl.imgAvailable" id="type">{{$ctrl.img.type}}</p>
                </div>
            </div>

            <div ng-show="$ctrl.showAddForm" class="">
                <br>
                <a class="cancelbtn" href="#" ng-click="$ctrl.cancelForm($event)"> &nbsp; Cancel Entry &nbsp;</a>
                <p> </p>
                <form name="$ctrl.searchForm" class="form-inline" novalidate ng-submit="$ctrl.searchInput($ctrl.foodQuery)">
                    <label for="search">Search Food: </label>
                    <input type="text" name="search" value="" placeholder="e.g. apple" ng-model="$ctrl.foodQuery">
                    <input type="submit" class="btn btn-success" value="Select Category">
                </form>

                <form name="$ctrl.selectGroupForm" class="form-inline" novalidate ng-submit="$ctrl.selectGroup($ctrl.foodQuery)" onSubmit="this.reset()">
                    <div ng-repeat="group in $ctrl.showGroups">
                        <input ng-click="$ctrl.activateSearchButton($event)" name="groupOption" type="radio" value="{{group}}">
                        <label for="groupOption">{{group}}</label>
                    </div>
                    <br>
                    <input class="btn btn-success" type="submit" value="Search" ng-show="$ctrl.showManualSubmitButton">

                </form>
                <p> &nbsp; </p>

                <div ng-show="$ctrl.showResults" class="foodtracker-result-list" style="overflow:scroll; height: 200px;">
                    <h4 class="resultlabel"> Results </h4>
                    <div ng-repeat="result in $ctrl.searchResults">
                        <input name="resultOption" type="radio" value="{{result.ndbno}}" ng-click="$ctrl.selectFoodResult($event)">
                        <label for="resultOption">{{result.name}}</label>
                    </div>
                    <div>
                        <br>
                        <a class="btn btn-success" href="#" ng-disabled="$ctrl.foodNotSelected" ng-click="$ctrl.getQuantity($event)">Select Food</a>
                        <p></p>
                    </div>
                </div>



                <div ng-show="$ctrl.showMeasurmentsDiv">
                    <h4 class="resultlabel">Select the Measurment and Quantity</h4>
                    <div ng-repeat="measure in $ctrl.measuresArray">
                        <input ng-click="$ctrl.selectMeasurmentOption($event, measure.label)" name="measurmentOption" type="radio" value="{{$index}}">
                        <label for="measurmentOption">{{measure.label}}</label>
                    </div>
                    <input ng-model="$ctrl.quantity" type="number" min="1" name="quantity" value="">
                    <a href="#" ng-click="$ctrl.selectMeasurement($event)" class="btn btn-success" >Add Food To Tracker</a>
                </div>
            </div>
        </div>

    </div>




</div>




<footer class="foodtrackerfooter">

    <div class="copywrite"> &copy; MicroLens </div>
    <div class="production"> A MicroLens Production</div>
</footer>
