<header class="business-header">

    <div class="darken">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <div class="buttons">
                <div class="top">
                    <img src="./images/logo5.jpg" id="microLens" alt="">
                </div>
                <div class="rightButtons">
                    <a class="aboutButton" href="#">About</a>
                    <a class="signinButton" href="#">Sign In</a>
                </div>
            </div>
        </div>





        <div class="logo">
            <h1 class="tagline">MicroLens</h1>
            <!-- <a class="navbar-brand" id="aboutButton" href="#">Brand</a> -->
        </div>
    </div>
</header>
<!-- Page Content -->
<div class="container">

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <h2>What We Do</h2>
            <p>MicroLens tracks over 80 nutrients including: macronutrients, vitamins, minerals, phytonutrients, and antioxidants. Using MicroLens you can easily identify gaps in your nutrition and get whole food suggestions to improve your diet. You can
                track foods or an entire recipe with just one-click. </p>
            <p>To track your intake of Omega 3s, simply add the foods that you eat and go to the My Nutrition page.</p>


            <p>
                <a class="btn btn-default btn-lg" href="#">Tutorial &raquo;</a>
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                    <strong>MicroLens</strong>
                    <br>Galvanize
                    <br>Denver, CO 80010
                    <br>
                </address>
            <address>
                    <abbr title="Phone">P:</abbr>(123) 456-7890
                    <br>
                    <abbr title="Email">E:</abbr> <a class="email" href="mailto:#">microlens@gmail.com</a>
                </address>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="/images/girl2.jpg" alt="">
            <h3>Finally an in depth nutrition tracker! ★★★★★</h3>
            <p>"Love this app. I was so pleased to see there was finally a nutrition app that went beyond the basic macronutrients. With the recent update I was extremely excited to see apple Health app integration." - by Anne Smith</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="/images/chart.jpg" alt="">
            <h3>Fill Nutrition Gaps</h3>
            <p>Go beyond just tracking what you eat. Wholesome suggests whole foods to fill nutrition gaps so you know the healthiest foods to eat next. Easily find out how to enhance your diet.Make the best food decision for your health, every day, every
                time.</p>
        </div>
        <div class="col-sm-4 lastpic">
            <img class="img-circle img-responsive img-center" src="/images/plant.jpg" alt="">
            <h3>Micro-Nutrients</h2>
                <p>Micro-nutrients are essential for the proper functioning of every system in the body and are vital for good health. There are two classes of micronutrients, vitamins and minerals.Vitamins allow your body to grow and develop. They also play important roles in bodily functions such as metabolism, immunity and digestion.  </p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; microLens.com 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
