@font-face {
    font-family: 'VAG Round';
    src: url('fonts/VAG-Round.ttf');
    font-weight: lighter;
    font-style: normal;
}

body {
  background-color: rgb(238,238,238);
}

* {
  font-family: 'VAG Light', sans-serif;
}

/* Food Tracker */

div.row#food-tracker-shell {
  display: flex;
  justify-content: space-between;
}

img#avatar {
  height: 200px;
  width: auto;

  margin-left: -5px;
}

div.col-lg-2#user-details {
  display: flex;
  background-color: white;
  border-radius: 3px;
}

div.col-lg-8#search-area {
  display: flex;
  justify-content: center;
  /*flex-wrap: wrap;*/
}


/*FOOD TRACKER PAGES CSS*/
.foodtrackerheader{
  display:flex;
  justify-content:space-around;
  align-items: center;
  background-color: rgb(51, 49, 49);
  height: 75px;
  opacity: .90;
  color: #3aa6dd;
  font-size: 20px;
}


.foodtrackermain{
  display:flex;
  justify-content: center;
  flex-direction: column;
  width:90vw;
  margin-left: 50px;

}

div.img-container{
    margin-top: 5px;
    border: 1px solid black;
}

.person-details {
    background-color: white;
    padding: 1em;
    margin-left: 5px;
}
.person-name {
    color: rgb(42, 94, 249);
    size: 15px;
    font-weight: bold;
}
.user-details{
    border: 1px solid black;
}

.foodTrackerTitle {
    color: #3aa6dd;
    font-size: 50px;
    font-family: Orbitron;
}


.copywrite{
    margin-left: 50px;
}

.production{
    margin-right: 50px;
}
.foodtrackerfooter{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(51, 49, 49);
    height: 75px;
    opacity: .90;
    color: #3aa6dd;
    font-size: 20px;
}
