@font-face {
    font-family: 'VAG Round';
    src: url('fonts/VAG-Round.ttf');
    font-weight: lighter;
    font-style: normal;
}

body {
  background-color: rgb(238,238,238);
}


* {
  font-family: 'VAG Light', sans-serif;
}

/* Food Tracker */

div.row#food-tracker-shell {
  display: flex;
  justify-content: space-between;
}

div.row#dash-tracker-shell {
  display: flex;
  justify-content: space-between;
}

img#avatar {
  height: 200px;
  width: auto;

  margin-left: -5px;
}

div.col-lg-2#user-details {
  display: flex;
  background-color: white;
  border-radius: 3px;
}

div.col-lg-8#search-area {
  display: flex;
  justify-content: center;
  /*flex-wrap: wrap;*/
}

.dummyData{
    display: flex;
    flex-direction: row;
}

/*DASHBOARD TRACKER PAGE CSS*/

.dashboardtrackerheader{
    display:flex;
    flex-direction: row;
    /*justify-content:space-between;*/
    align-items: center;
    background-color: rgb(51, 49, 49);
    height: 75px;
    opacity: .90;
    color: rgb(251, 251, 251);
    font-size: 20px;

}

.dashlabel {
    display: flex;
    align-items: center;
    margin-left: 50px;
    color: rgb(251, 251, 251);
    font-size: 25px;
    font-family: 'Righteous', cursive;
}

.dashboardTrackerTitle{
    color: rgb(251, 251, 251);
    font-size: 40px;
    margin-left: 50px;
    font-family: 'Righteous', cursive;
}

.btn {
    border-radius: 5px;
    padding: 5px 30px;
}


.btn-success {
    color: #fff;
    background-color: rgba(31, 29, 29, 0.94);
    border-color: #777;
    font-size: 10px;
}


/*FOOD TRACKER PAGES CSS*/
.foodtrackerheader{
  display:flex;
  justify-content:space-around;
  align-items: center;
  background-color: rgb(51, 49, 49);
  height: 75px;
  opacity: .90;
  color: rgb(251, 251, 251);
  font-size: 20px;
  /*font-family: 'Righteous', cursive;*/

}


.foodtrackermain{
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;

}

div.img-container{
    margin-top: 10px;
    border: 1px solid black;
    margin-left: 15px;

}

.foodtracker-result-list{
    border: 1px solid black;
}
.person-details {
    background-color: white;
    padding: 1em;
    margin-left: 5px;
}
.person-name {
    color: rgb(42, 94, 249);
    size: 15px;
    font-weight: bold;
}
.user-details{
    border: 1px solid black;
}

.foodTrackerTitle {
    color: rgb(251, 251, 251);
    font-size: 40px;
    font-family: 'Righteous', cursive;
}

/*.foodTrackertopline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Righteous', cursive;
}*/

.copywrite{
    margin-left: 50px;
    font-family: 'Righteous', cursive;
}

.production{
    margin-right: 50px;
    font-family: 'Righteous', cursive;
}

.foodtrackerfooter{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(51, 49, 49);
    height: 50px;
    opacity: .90;
    color: rgb(251, 251, 251);
    font-size: 25px;
    font-family: 'Righteous', cursive;
    margin-top: 5px;
    margin-bottom: 0px;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

.cancelbtn{
  background-color: red;
  color: white;
}
