@font-face {
    font-family: 'VAG Round';
    src: url('fonts/VAG-Round.ttf');
    font-weight: lighter;
    font-style: normal;
}

* {
  font-family: 'VAG Light', sans-serif;
}

/* NAV */
nav.container-fluid {
  background-color: rgb(206,227,248);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

div.nav-logo {
  display: flex;
  align-items: center;
}

div.nav-logo h1 {
  margin-left: 10px;
  font-size: 2.25em;
  font-family: 'VAG Round', sans-serif;
}

div.nav-logo img {
  height: 50px;
  width: auto;
}

div.newPostModal {
  position: absolute;
  top: 17px;
  right: 20px;
}

a.newPost.btn.btn-success {
  background-color: rgb(255,255,255);
  color: black;
  border: 1px solid black;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
  border-radius: 3px;
}

input.ng-valid.ng-touched {
  border: 2px solid green;
  border-radius: 3px;
}

input[disabled="disabled"] {
  opacity: 0.5;
  cursor: not-allowed !important;
}

small {
  display: inline;
  text-align: center;
  justify-content: center;
  color: red;
}

/* BODY */

div.icons {
  display: flex;
  justify-content: center;
}

div.icons span a {
  text-decoration: underline;
}

span.newPostButton {
  position: absolute;
  right: 0%;
}

div.row.newPost-form {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

div.form-box {
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
  background-color: rgb(206,227,248);
}

div.search-sort {
  margin-bottom: 15px;
}

span.search {
  margin-right: 15px;
  margin-bottom: 15px;
}

img.img-fluid{
  width: 100%;
  height: auto;
}

img{
  width: 15px;
  height: auto;
  margin-bottom: 5px;
}

main.container-fluid.row {
  display: flex;
  justify-content: center;
}

p.post-description {
  margin-top: 20px;
}

p.post-other-details {
  margin-top: 10px;
}

span.post-title, span.vote-count {
  font-size: 1.25em;
}

span.post-title {
  margin-right: 10px;
  font-weight: bold;
}

span.vote-count {
  margin-left: 5px;
}

a.no-decorate {
  text-decoration: none;
  color: black;
}

img.comments-logo {
  margin-top: 2px;
  height: 10px;
  width: auto;
}

.comments-link {
  cursor: pointer;
}

div.row.comment-box {
  margin-top: 20px;
}

section.re-position {
  margin-top: 40px !important;
}

/* ANIMATIONS */
div.well.row.ng-enter {
    -webkit-transition: 1s;
    transition: all 2s linear;
    opacity: 0;
}

div.well.row.ng-enter-active {
    opacity: 1;
}

a.edit-post {
  cursor: pointer;
}

a#cancelEdit {
  padding: 1px 8px;
  border-radius: 1px;
  margin-left: 10px;
  background-color: white;
  color: black;
  border-color: black;
}
