<header class="dashboardtrackerheader">
    <div class="dashboardTrackerTitle"> MicroLens </div>
    <div class="dashlabel"> | Dashboard</div>

</header>




<div class="row" id="dash-tracker-shell">
    <div class="col-lg-3" id="user-details">
        <div class="img-container">
            <img id="avatar" src="./images/aldo.png" alt="avatar" width=100>
            <div class="person-details">
                <h4 class="person-name">{{$ctrl.firstName}}&nbsp;{{$ctrl.lastName}}</h4>
                <p><strong>Height: </strong> 6'1"</p>
                <p><strong>Weight: </strong> 170lbs</p>
                <p><strong>Age: </strong> 29</p>
            </div>
        </div>
    </div>

    <div class='container'>

        <h1 class='dashboardWelcome'>Welcome {{$ctrl.firstName}}</h1>

        <input type="submit" ng-click="$ctrl.getFoodTracker($event)" class="btn btn-success" value="Add Food">

        <div class="dummyData">
            <d3-dashboard-bar></d3-dashboard-bar></h4>

            <d3-dashboard-pie></d3-dashboard-pie>
        </div>

        <div class="dummyDataText">
            <div ng-repeat="food in $ctrl.microData">
                <ul class="foodlist">
                    <li><h3>{{$ctrl.foodData[$index].food_name.substr(0, $ctrl.foodData[$index].food_name.indexOf(','))}}</h3></li>
                </ul>
                <ul class="foodlist" ng-repeat="(key, vitamins) in food" ng-if="$index > 4">
                    <li ng-if="vitamins"><strong>{{key}}:</strong>&Tab;{{vitamins}}</li>
                </ul>
            </div>
            <!-- <h4>Dummy div for d3 - My Nutrients Needs Graph
           <img id="macroOoverview" src="./images/dummyImages/MyNutrientNeeds.jpg.jpeg" alt="macroOoverview" height=300></h4>

            <h4> Dummy div for d3 - My Food Lists
            <img id="microOoverview" src="./images/dummyImages/FoodLists.jpg.jpeg" alt="macroOoverview" height=400>
            </h4> -->
        </div>

    </div>



</div>


<div class="footercontainer">
<footer class="foodtrackerfooter">
    <div class="copywrite"> &copy; MicroLens </div>
    <div class="production"> A MicroLens Production</div>
</footer>
</div>
